.App {
  text-align: center;
}

.fondo{
  background-image: url('./imagenes/fondo.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  min-width: 100vh;
  min-height: 120vh;
  flex-direction: column;
}

.fondo2{
  background-color: #121211;
  width: 900px;
  height: 600px;
  border-radius: 20px;
}

.fondo3{
  background-color: #f9f4f4e8;
  width: 1100px;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  font-size: calc(30px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-resultado {
  background-color: #2ace14;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 70vh;
  font-size: calc(50px + 2vmin);
  color: rgb(0, 0, 0);
}

.letraBoton{
  font-size: 40px;
  width: 80px;
}

.letraBoton2{
  font-size: 25px;
  width: 250px;
  margin-top: 20px;
}


.label {
  text-align: center;
}

.inputmod {
  font-size: '30px';
}


.process-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #000000;
  background-color: #002aff;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.process-counter h2 {
  margin-bottom: 10px;
}

.process-counter-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.process-counter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0a0a0a;
  margin-right: 10px;
}

.process-counter-label {
  font-weight: bold;
  margin-right: 10px;
}

.process-counter-value {
  font-size: 1.2em;
  font-weight: bold;
}